<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Vue2 - Udemy</title>
</head>
<body>
  <div class="container" id="app">
    <p v-if="show">You can see me, if...!</p><!--v-if attaches or detaches tags to/from webpage, so this is not a simple hide/display trick-->

    <p v-else>...else you see me</p>

    <template v-if="show"><p>Here we test the v-show</p></template><!--in html 5 this template tag doesn't get rendered (but everything in it does). Sometimes template could be better than div-->

    <p v-show="show">Do you also see me?</p><!--v-show shows or hides a tag, while v-if attaches or detaches tag from/to DOM. This is the difference.-->

    <button @click="show = !show">Switch</button>
  </div>






  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="main.js"></script>
</body>
</html>